<h1>Enter your name</h1>
<form action='/addjob' method='get'>
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Enter</button>
</form>
