<h1>Resume</h1>
#if ($jobs)
    <ul>
    #foreach ($job in $jobs)
      <li>Position: $job.getPosition()</li>
      <li>Company: $job.getCompany()</li>
      <li>Location: $job.getLocation()</li>
      <li>Description: $job.getDescription()</li>
      <li>Starting Date: $formatter.format($job.getStartingDate())</li>
      <li>End Date: $formatter.format($job.getEndingDate())</li>
    #end
    </ul>
#else
  <p>No jobs</p>
#end
<a href="/">Go Back</a>
