<h1>Resume</h1>
<h3>$name</h3>

#if ($jobs)
    <ol>
    #foreach ($job in $jobs)
    <ul>
      <li>Position: $job.getPosition()</li>
      <li>Company: $job.getCompany()</li>
      <li>Location: $job.getLocation()</li>
      <li>Description: $job.getDescription()</li>
      <li>Starting Date: $formatter.format($job.getStartingDate())</li>
      <li>End Date: $formatter.format($job.getEndingDate())</li>
    </ul>
    #end
    </ol>
#else
  <p>No jobs</p>
#end
<a href="/addjob">Go Back</a>
